:root {
    --width: 100%;
    --max-width: 1200px;
}
.apply-container{
     font-family: "Pathway Extreme", "Sans-serif";
     width: var(--width);
     height: auto;
     font-size: 17.5px;
 }
.apply-card{
    width: 100%;
}
.mail-container{
    background: linear-gradient(rgba(7, 44, 166, 0.7),rgba(8, 16, 40, 0.7), rgba(6, 1, 22, 0.7)), url(../Images/image223.gif);
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


 