:root{
    --font-family: "Pathway Extreme", "Sans-serif";
    --width: 100%;
    --max-width: 1200px;
}
/* First section */
.blog-container-1{
    font-family: var(--font-family);
    width: 100%;
    overflow: hidden;
  }
.blog-header-img{
    width: var(--width);
    height: 38rem;
    background: linear-gradient(300deg, rgba(62, 23, 5, 0.5),rgba(77, 71, 5, 0.5), rgba(19, 50, 6, 0.5), rgba(4, 40, 46, 0.5), rgba(5, 29, 52, 0.7), rgba(22, 10, 45, 0.7), rgba(41, 3, 45, 0.7), rgba(49, 4, 41, 0.7), rgba(51, 4, 20, 0.7), rgba(37, 3, 3, 0.7)),url('../Images/image160.png');
    background-size: cover;
    background-position: center;
}
.carousel-item{
    margin-top: 13rem;
}
/* Second Section */
.card-blog{
    min-height: 100%;
}
.blog-post{
    width: 100%;
    height: 250px !important;
}
.blog-title{
    height: 50px;
}
.post-desc{
    height: 90px;
}
/* Third Section */
.card-blog-1{
min-height: 100%;
}
.blog-post-img{
    width: 100%;
    height: 150px;
}
.blog-title-1{
    height: 63px;
}
.subscribe-block{
    width: 100%;
    height: 150px;
    background-color: black;
    background: linear-gradient(300deg, rgba(62, 23, 5, 0.5),rgba(77, 71, 5, 0.5), rgba(19, 50, 6, 0.5), rgba(4, 40, 46, 0.5), rgba(5, 29, 52, 0.7), rgba(22, 10, 45, 0.7), rgba(41, 3, 45, 0.7), rgba(49, 4, 41, 0.7), rgba(51, 4, 20, 0.7), rgba(37, 3, 3, 0.7)),url(../Images/image174.gif);
}
.subscribe-btn{
    animation: blink 1s infinite, glow 1.5s infinite;
    color: #fff;
}
@keyframes blink {
    0% { opacity: 1; text-shadow: 0px 0px 5px #ff006e; background-color: #ff006e; }
    25% { opacity: 1; text-shadow: 0px 0px 5px #00bbf9; background-color: #00bbf9; }
    50% { opacity: 0.7; text-shadow: 0px 0px 15px #53f10b; background-color: #53f10b; }
    75% { opacity: 0.7; text-shadow: 0px 0px 15px #d62828; background-color: #d62828; }
    100% { opacity: 1; text-shadow: 0px 0px 5px #ffb703; background-color: #ffb703;}
  }
  
  @keyframes glow {
    0% { box-shadow: 0px 0px 5px #ff006e; background-color: #ff006e; }
    25% { opacity: 1; text-shadow: 0px 0px 5px #00bbf9; background-color: #00bbf9; }
    50% { box-shadow: 0px 0px 15px #53f10b; background-color: #53f10b; }
    75% { opacity: 0.7; text-shadow: 0px 0px 15px #d62828; background-color: #d62828; }
    100% { box-shadow: 0px 0px 5px #ffb703; background-color: #ffb703; }
  }
  
   
