.custom-footer {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 20px;
}
.footer-container{
    width: 80% !important;
}
.nav-link {
    color: #fff !important;
    padding: 10px;
    transition: transform 0.5s ease-in-out !important;
}
.nav-link:hover{
    transform: scale(1.01);
    cursor: pointer;
}
.line1,
.line2 {
    background-color: 1px solid #fff;
    margin-top: 50px !important;
}
.container-style{
    width: 230px;
    height: 150px;
    margin-bottom: 10px;
    z-index: 0;
}
@media(max-width: 768px) {
    h5{
        font-size: 25px !important;
        text-align: center;
    }
    .custom-nav{
        display: flex;
        text-align: center;
    }
    .custom-map{
        display: flex;
        justify-content: center;
    }
}