/* Container - 1 */
:root {
    --width: 100%;
 }
 
.custom-home-container-1 {
    background: linear-gradient(135deg, #FF5901, #FF5901);
    height: 80vh;
    width: var(--width);
    font-family: "Lucida Console", "Courier New", monospace;
}

.custom-btn-1,
.custom-btn-2 {
    border-radius: 5px;
    transition: background 0.5s ease-in-out !important;
}

.custom-btn-1:hover
 {
    background: black !important;
    color: #fff !important;
}
.custom-btn-2:hover{
    background: #FFFFFF;
    color: black;
}

/* Container - 2 */

.custom-home-container-2{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}
.custom-heading{
    animation: slideInDown 0.5s;
}

.custom-card {
    padding: 25px;
    box-shadow: #696666 5px 5px 2px 2px;
    cursor:pointer;
  }

.custom-card-body {
    height: 200px;
}
/* Container - 3 */
.custom-home-container-3{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    animation: slideInRight 1s ease-in-out
}

.custom-image{
    width: 100%;
    max-width: 35rem;
    height: 33rem;
    border: none;
    padding: 20px;
    float: right;
    background-color: #c98bb9;
    box-shadow: #f4f0f0 2px 2px 5px 5px;
    transition: transform 0.5s ease-in-out, background 0.5s ease-in-out;
    animation: slideInLeft 1s ease-in-out;
}
.custom-image:hover{
    transform: scale(1.02);
    background: #ff006e;
}

.custom-home-container-4{
    animation: zoomIn 1s ease-in-out;
}

 @keyframes slideInDown{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
 }
 @keyframes slideInRight{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
 }
 @keyframes slideInLeft{
    0%{
        transform: translateX(+100%);
    }
    100%{
        transform: translateX(0%);
    }
 }
  @keyframes zoomIn {
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    100%{
        transform: scale(1.05);
        opacity: 1;
    }
    
  }
  @media (max-width: 420px)
  {
    .custom-btn-1{
        margin-bottom: 10px;
    }
    .custom-btn-2{
        padding: 8px 28px !important;
        margin-right: 18px !important;
    }
  }
 
   