 .custom-swiper{
    width: 400px  !important;
    height: 250px !important;
    display: flex !important; 
    justify-content: center !important;
     margin-bottom: 10px;

 }
 .swiper-button-prev, .swiper-button-next{
      color: #f4e285 !important;
 }
 .testimonial-container {
    transition: transform 0.5s ease-in-out;
 }
 .testimonial-container:hover{
    transform: scale(1.03);
    cursor: pointer;
 }
 
 